@charset "utf-8";
/* CSS Document */

#bank-info,
#credit-card-info {
	background-color: whitesmoke;
}
#bank-info > button,
#credit-card-info > button {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 25%;
	background-color: #096;
	color: whitesmoke;
	font-family: 'Avenir Next', Avenir, Corbel, sans-serif;
	font-size: 28px;
	line-height: 28px;
	/* Rounder */
	bottom: 2%;
	right: 4%;
	width: 44%;
	height: 22%;
	border-radius: 10px;
	font-size: 25px;
	line-height: 25px;
}
#bank-info > button[disabled],
#credit-card-info > button[disabled] {
	opacity: 0.3;	
}
#bank-info > .cancel,
#credit-card-info > .cancel {
	left: 0;
	background-color: #666;	
	/* Rounder */
	left: 4%;
}
#bank-info label,
#credit-card-info label {
	height: 25%; /*60px;*/
	width: 100%;
	display: inline-block;
	font-family: 'Avenir Next', Avenir, Corbel, sans-serif;
	/* Rounder */
	width: 92%;
	position: relative;
	left: 4%;
	white-space: nowrap;
}
#bank-info label {
    height: 37.5%;
}
#credit-card-info label > i {
	width: 16%;
	text-align: center;
	color: #333;
}
#bank-info label > b,
#credit-card-info label > b {
	display: inline-block;
	width: 23%;
	color: #333;
    font-weight: 500;
}
#bank-info label > b {
    width: 50%;
}
#bank-info label > input,
#credit-card-info label > input {
	height: 100%;
	width: 54%;
	padding: 0 5px;
	border: 0;
	font-family: PT Sans;
	background-color: transparent;
	color: #333;
	/* Rounder */
	width: 59%;
	font-size: 14px;
}
#bank-info label > input {
    width: 45%;
}
#bank-info label:not(:first-of-type),
#credit-card-info label:not(:first-of-type) {
	border-top: 1px solid rgba(51, 51, 51, 0.3);	
}
/**/
.slider {
	width: 52px;
	height: 32px;
	background-color: #ccc;
	border-radius: 16px;
	position: absolute;
	left: 76%;
	top: 50%;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.slider:before,.slider:after {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 28px;
	width: 28px;
	content: '';
	background-color: whitesmoke;
	border-radius: 14px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.slider:before {
	background-color: #ccc;
	top: 0px;
	left: 0px;
	height: 32px;
	width: 32px;
    border-radius: 16px;
}
.slider.checked:before {
	width: 52px;
    background-color: #11c1e2;
}
.slider.checked:after {
	left: 22px;	
}
#credit-card-info #credit-card-remember {
    display: none;
}
    #credit-card-remember > #credit-card-remember-checkbox {
        width: 16%;
        display: inline-block;
        text-align: center;
    }
        #credit-card-remember-checkbox:before {
            text-align: center;
            height: 20px;
            width: 20px;
            line-height: 22px;
            display: inline-block;
            border: 1px solid #aaa;
            border-radius: 4px;
            content: '✓';
            color: white;
            background-color: white;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }
        .checked#credit-card-remember-checkbox:before {
            border: 0;
            background-color: #3b99fc;
        }
    #credit-card-remember > #credit-card-remember-text {
        position: relative;
        left: -4px;
    }
#credit-card-info.single-use #credit-card-remember {
    display: inline-block;
}
#credit-card-info.single-use label {
    height: 18.75%;
}
/**/

.multi-use [type="submit"]:before {
	content: "Save";
}
.single-use [type="submit"] {
	white-space: pre;	
}
.single-use [type="submit"]:before {
	content: "Submit";
}
.single-use [type="submit"]:after {
	content: "\A($" attr(data-fare) ")";
	font-family: 'Avenir Next', Avenir, Calibri, sans-serif;
	font-size: 0.85em;
	/* Rounder */
	font-size: 19px;
}
@media (max-height: 300px) {
	.single-use [type="submit"] {
		white-space: normal;
	}
}

.declined-card {
	position: absolute;
	width: 100%;
	top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
	text-align: center;
	font-family: 'Avenir Next', Avenir, Corbel, sans-serif;
	color: whitesmoke;
	display: none;
}
.declined-card-reason {
    display: inline-block;
    background-color: rgb(204, 0, 0);
    padding: 8px 16px;
    border-radius: 8px;
}

.identified {
	background-repeat: no-repeat;
	background-position: right center;
}
.visa {
    background-image: url('../img/cards/small/visa.png');
}
.mastercard {
    background-image: url('../img/cards/small/mastercard.png');
}
.amex {
    background-image: url('../img/cards/small/amex.png');
}
.jcb {
    background-image: url('../img/cards/small/jcb.png');
}
.discover {
    background-image: url('../img/cards/small/discover.png');
}
.dinersclub {
    background-image: url('../img/cards/small/diners.png');
}