@charset "utf-8";
/* CSS Document */

form {
	background-color: whitesmoke;
}
form > button {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50%;
	height: 25%;
	background-color: #096;
	color: whitesmoke;
	font-family: Optima, Corbel, sans-serif;
	font-size: 28px;
	line-height: 28px;
	/* Rounder */
	bottom: 2%;
	right: 4%;
	width: 44%;
	height: 22%;
	border-radius: 10px;
	font-size: 25px;
	line-height: 25px;
}
form > button[disabled] {
	opacity: 0.3;	
}
form > #cancel {
	left: 0;
	background-color: #666;	
	/* Rounder */
	left: 4%;
}
label {
	height: 25%; /*60px;*/
	width: 100%;
	display: inline-block;
	font-family: Optima, Corbel, sans-serif;
	/* Rounder */
	width: 92%;
	position: relative;
	left: 4%;
	white-space: nowrap;
}
label > i {
	width: 16%;
	text-align: center;
	color: #333;
}
label > b {
	display: inline-block;
	width: 23%;
	color: #333;
}
label > input {
	height: 100%;
	width: 54%;
	padding: 0 5px;
	border: 0;
	font-family: PT Sans;
	background-color: whitesmoke;
	color: #333;
	/* Rounder */
	width: 59%;
	font-size: 14px;
}
label:not(:last-of-type) {
	border-bottom: 1px solid rgba(51, 51, 51, 0.3);	
}
/*
#slider {
	width: 52px;
	height: 32px;
	background-color: #333;
	border-radius: 16px;
	position: absolute;
	left: 60%;
	top: 60%;
	transition: all 0.75s;
	-webkit-transition: all 0.75s;
}
#slider:before,#slider:after {
	position: absolute;
	top: 4px;
	left: 4px;
	height: 24px;
	width: 24px;
	content: '';
	background-color: rgb(0, 192, 0);
	border-radius: 12px;
	transition: all 0.75s;
	-webkit-transition: all 0.75s;
}
#slider:before {
	background-color: rgb(0, 144, 0);
	top: 5px;
	left: 5px;
	height: 22px;
	width: 22px;
}
#slider.checked:before {
	width: 40px;	
}
#slider.checked:after {
	left: 24px;	
}
*/

.multi-use:before {
	content: "Save";
}
.single-use {
	white-space: pre;	
}
.single-use:before {
	content: "Pay";
}
.single-use:after {
	content: "\A($" attr(data-price) ")";
	font-family: Optima, Calibri, sans-serif;
	font-size: 0.85em;
	/* Rounder */
	font-size: 19px;
}
@media (max-height: 300px) {
	.single-use {
		white-space: normal;
	}
}

.declinedCard {
	border-radius: 10px;
	position: absolute;
	left: 30%;
	right: 30%;
	top: 50%;
	margin-top: -20px;
	line-height: 40px;
	text-align: center;
	font-family: Corbel;
	color: whitesmoke;
	background-color: rgb(204, 0, 0);
	display: none;
}

.identified {
	background-repeat: no-repeat;
	background-position: right center;
}
.visa {
	background-image: url('../img/cards/visa.png');
}
.mastercard {
	background-image: url('../img/cards/mastercard.png');
}
.amex {
	background-image: url('../img/cards/amex.png');
}
.jcb {
	background-image: url('../img/cards/jcb.png');
}
.discover {
	background-image: url('../img/cards/discover.png');
}
.dinersclub {
	background-image: url('../img/cards/diners.png');
}
@media (max-width: 480px), (max-height: 480px) {
	.visa {
		background-image: url('../img/cards/small/visa.png');
	}
	.mastercard {
		background-image: url('../img/cards/small/mastercard.png');
	}
	.amex {
		background-image: url('../img/cards/small/amex.png');
	}
	.jcb {
		background-image: url('../img/cards/small/jcb.png');
	}
	.discover {
		background-image: url('../img/cards/small/discover.png');
	}
	.dinersclub {
		background-image: url('../img/cards/small/diners.png');
	}
}